.page-portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 30px;
    flex-direction: column;

    .all-projects-text {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
        justify-content: center;
        height: 95px;
        margin-bottom: 35px;
        // transform: scale(0); 
        // animation: appear-grow .8s ease-out forwards;

        img {
            height: 40px;
            width: auto;
        }

        h1 {
            font-size: 50px;
        }
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
        flex-basis: 80%;

        .cards-right {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 20rem;
            border-radius: 35px;
            background: var(--bg-raye);
            height: 23rem;
            border: 1px solid var(--light-light-black);
            // transform: scale(0); 
            // animation: appear-grow .8s ease-out forwards;

            &:hover {
                border: 1px solid var(--rose-gauche);
                transition: 0.5s;
            }

                
            .sim-image {
                display: flex;
                width: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 35px;
                padding: 20px;
            }
            

            .info-block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0 20px;
                // flex-basis: 25%;

                .info-card {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 100%;
                    // flex-basis: 75%;

                    p {
                        margin: 20px 0 0 0;
                        text-transform: uppercase;
                    }

                    h1 {
                        font-size: 24px;
                    }
                }

                .btn-card {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 100%;
                    height: 100%;
                    flex-basis: 15%;

                    i {
                        font-size: 20px;
                        color: var(--white);

                        &:hover {
                            color: var(--rose-gauche);
                            cursor: pointer;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }
}