.page-portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 30px;
    flex-direction: column;

    .all-projects-text {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
        justify-content: center;
        height: 95px;
        margin-bottom: 35px;

        img {
            height: 40px;
            width: auto;
        }

        h1 {
            font-size: 50px;
        }
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
        flex-basis: 80%;

        .cards-right {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 20rem;
            border-radius: 35px;
            background: var(--bg-raye);
            height: 23rem;
            border: 1px solid var(--light-light-black);

            &:hover {
                border: 1px solid var(--rose-gauche);
                transition: 0.5s;
            }

                
            .sim-image {
                display: flex;
                width: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 35px;
                padding: 20px;
            }
            

            .info-block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0 20px;

                .info-card {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 100%;

                    p {
                        margin: 20px 0 0 0;
                        text-transform: uppercase;
                        color: var(--dark-grey);
                    }

                    h1 {
                        font-size: 24px;
                    }
                }

                .btn-card {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 100%;
                    height: 100%;
                    flex-basis: 15%;

                    i {
                        font-size: 20px;
                        color: var(--white);

                        &:hover {
                            color: var(--rose-gauche);
                            cursor: pointer;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }
}

// Responsive
@media screen and (max-width: 768px) {
    .home-container {
        .projets {
            flex-wrap: wrap;

            .myself-section {
                flex-basis: auto;
            }

            .line-projets-about-container {
                flex-basis: 100%;

                .about-section,
                .projet-section {
                    height: 100%;
                }
            }

        } 

        .services-container {
            flex-wrap: wrap;
    
            .cv-competences-section {
                flex-basis: 40%;
            }
    
            .competences-section {
                flex-basis: 50%;
            }
    
            .contact-section {
                flex-basis: 100%;
            }
        }

        .contact-container {
            .contact-go-section {
            flex-basis: 100%;
        }
        }
        
    }

    
}


// Responsive
@media screen and (max-width: 768px) {
    .page-portfolio {
        margin: 1rem 30px 5rem 30px;

        .all-projects-text {
            h1 {
                font-size: 26px;
                text-align: center;
            }
        }

        .cards-container {
            .cards-right {
                // width: unset;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .page-portfolio {
        .cards-container {
            .cards-right {
                width: unset;
            }
        }
    }
}