:root {
    --white: white;
    --black: #000;
    --light-black: #1a1919;
    --light-light-black: #272525;
    --dark-black: #0F0F0E;
    --rose-gauche: #F25C84;
    --dark-blue: #313144;
    --medium-grey: #D8D8D8;
    --dark-grey: #b3b1b1;
    --dark-white: #e7e4e4;
    --bg-raye: linear-gradient(117deg, rgba(39,37,37,1) 0%, rgba(28,28,28,1) 10%, rgba(39,37,37,1) 20%, rgba(28,28,28,1) 30%, rgba(39,37,37,1) 40%, rgba(28,28,28,1) 50%, rgba(39,37,37,1) 60%, rgba(28,28,28,1) 70%, rgba(39,37,37,1) 80%, rgba(28,28,28,1) 90%, rgba(39,37,37,1) 100%);
    --bg-raye-clair: linear-gradient(117deg, rgba(47,45,45,1) 0%, rgba(36,36,36,1) 10%, rgba(47,45,45,1) 20%, rgba(36,36,36,1) 30%, rgba(47,45,45,1) 40%, rgba(36,36,36,1) 50%, rgba(47,45,45,1) 60%, rgba(36,36,36,1) 70%, rgba(47,45,45,1) 80%, rgba(36,36,36,1) 90%, rgba(47,45,45,1) 100%);
    --bg-raye-clair-clair: linear-gradient(117deg, rgba(70,67,67,1) 0%, rgba(50,50,50,1) 10%, rgba(70,67,67,1) 20%, rgba(50,50,50,1) 30%, rgba(70,67,67,1) 40%, rgba(50,50,50,1) 50%, rgba(70,67,67,1) 60%, rgba(50,50,50,1) 70%, rgba(70,67,67,1) 80%, rgba(50,50,50,1) 90%, rgba(70,67,67,1) 100%);
    --bg-rose-violet: linear-gradient(90deg, rgba(223,77,77,1) 0%, rgba(105,61,191,1) 100%);
}