:root {
    --white: white;
    --black: #000;
    --light-black: #1a1919;
    --light-light-black: #272525;
    --dark-black: #0F0F0E;
    --rose-gauche: #F25C84;
    --dark-blue: #313144;
    --medium-grey: #D8D8D8;
    --dark-grey: #C4C4C4;

}