@import "colors";
@import "navigation";
@import "fonts";
@import "card";
@import "single";
@import "front-page";
@import "about-page";
@import "contact";
@import "keyframes";



// GLOBAL
* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    font-size: 14px;
    background-color: var(--dark-black);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

h1 {
    font-size: 2rem;
}

.appear {
    opacity: 0;
    transform: scale(0); 
    animation: appear-grow 1s ease-out forwards;
}