.projet-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto 48px;
    gap: 2rem;

    .info-block {
        display: flex;
        width: 100%;
        margin-left: 48px;
        justify-content: center;
        flex-direction: column;

        p {
            margin-bottom: 0;
            text-align: center;
            color: var(--dark-grey);
        }

        .title-project-text {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 100%;
            justify-content: center;
            height: 95px;
    
            img {
                height: 40px;
                width: auto;
            }
    
            h1 {
                font-size: 50px;
            }
        }
    }

    .projet-image {
        display: flex;
        margin-bottom: 30px;
        width: 100%;

        img {
            height: 50vh;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }

    .contexte {
        display: flex;
        flex-direction: column;
        background: var(--bg-raye);
        height: auto;
        border: 1px solid var(--light-light-black);
        border-radius: 35px;

        &:hover {
            border: 1px solid var(--rose-gauche);
            transition: .5s;
        }

        h1 {
            margin-bottom: 0;
            padding: 20px 44px 0;
            text-align: left;
            font-size: 20px;
            color: var(--dark-grey);
        }

        p {
            padding: 30px;
            text-align: left;
            margin-top: 0;
            color: var(--dark-white);
        }
    }

    .description {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        background: var(--bg-raye);
        height: auto;
        border: 1px solid var(--light-light-black);
        border-radius: 35px;
        padding: 30px;
        
        &:hover {
            border: 1px solid var(--rose-gauche);
            transition: .5s;
        }

        .text-description {
            display: flex;
            width: 100%;
            text-align: left;
            margin: 20px 0 20px 30px;
            flex-direction: column;

            h1 {
                margin: 0;
                font-size: 20px;
                color: var(--dark-grey);
            }

            p {
                color: var(--dark-white);
                margin: 28px 0;
            }

            i {
                font-size: 50px;
            }            
        }

        .list-elements {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 40%;
            padding: 30px;
            background: var(--bg-raye-clair);
            border-radius: 35px;
            height: auto;

            > * {
                margin: 0;
            }

            h2 {
                font-size: 16px;
                color: var(--dark-grey);
            }

            p {
                justify-content: flex-start;
                margin-bottom: 25px;
                text-align: left;
                font-size: 16px;
                color: var(--dark-white);
            } 
        }
    }
}

// Style Bottom block
.bottom-block {
    display: flex;
    flex-direction: column;

    .contact-single {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        margin: 3rem auto;

        p {
            font-size: 20px;
        }

        a {
            text-decoration: none;
            color: var(--dark-white);
            font-size: 20px;
            background: var(--bg-rose-violet);
            padding: 15px;
            border-radius: 20px;

            &:hover {
                border: 1px solid var(--rose-gauche);
                cursor: pointer;
                transition: 0.5s;
            }
        }
    }
}


// Style images suivante et précédente
.nav-links {
    display: flex;
    flex-basis: 50%;
    align-items: end;
    margin: 6rem 0 0;

    .nav-links-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0 120px;

        .next-link {
            text-decoration: none;
            font-size: 16px;
            color: var(--dark-white);
            text-align: right;
        }

        .prev-link {
            text-decoration: none;
            font-size: 16px;
            color: var(--dark-white);
            text-align: left;
        }
    }
}

.nav-thumbnail {
    display: none;
    position: absolute;
    margin-top: -6rem;

    img {
        height: auto;
        width: 5rem;
    }        
}

#arrow-left,
#arrow-right {
    height: auto;
    width: 4rem;
}


.next-img {
    margin-left: -1rem;
}

.nav-link:hover .nav-thumbnail {
    display: inline-block;
}

.prev-link:hover .nav-thumbnail {
    display: inline-block;
}

.next-link:hover .nav-thumbnail {
    display: inline-block;
}


// Revenir à tous les projets 
.bouton-portfolio {
    text-decoration: underline;
    color: var(--dark-white);
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &:hover {
        cursor: pointer;
        transition: 0.5s;
    }
}

// Responsive
@media screen and (max-width: 768px) {
    .single-projet {
        .projet-details {
            .info-block {
                margin: 0;

                .title-project-text {
                    h1 {
                        font-size: 26px;
                        text-align: center;
                    }
                }
            }
        }
    } 
}

@media screen and (max-width: 480px) {
    .single-projet {
        .projet-details {       
            margin: auto 30px;    

            .contexte {
                h1,
                p {
                    text-align: center;
                }
            }

            .description {
                flex-direction: column-reverse;

                .text-description {
                    margin: 33px 0;
                    text-align: center;

                    h1,
                    p {
                        text-align: center;
                    }
                }

                .list-elements {
                    width: 100%;
                }
            }
        }

        .bottom-block {
            .contact-single {
                flex-direction: column;
                gap: 1rem;
            }            

            .nav-links {
                margin: 1rem 0 2rem 0;

                .nav-links-container {
                    margin: 0 48px;
                }
            }
        }
    }
}